<%= link_to edit_path(@task.id), class: 'btn btn-default' do %>
  <i class="far fa-edit"></i> Edit this task
<% end %>


<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<% if @task.completed %>
  <i class="fas fa-check-square"></i> This task is completed
<% else %>
  <i class="fas fa-square"></i> This task is not completed yet
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i class="fas fa-backward"></i> Back to list
<% end  %>

